.confirmation-dialog {
    padding: 20px; 
  }
  
  .confirmation-dialog-header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .confirmation-dialog-content {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .confirmation-dialog-actions {
    display: flex;
    justify-content: flex-end;
  }
  
  .confirmation-dialog-button {
    border: none;
    outline: none;
    padding: 10px 20px;
    margin-left: 10px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .confirmation-dialog-cancel {
    background-color: #ccc;
    color: #fff;
  }
  
  .confirmation-dialog-confirm {
    background-color: #673ab7;
    color: #fff;
  }
  