mat-card {
    margin: 20px;
}

mat-form-field {
    width: 25%;
    margin-left: 10px;

}

mat-card-content {
    button {
        float: right;
        margin-top: 10px;
        margin-left: auto;
    }

   

    .mat-mdc-fab.mat-accent, .mat-mdc-mini-fab.mat-accent {
        margin-top: 0;
        margin-right: 10px;
        --mdc-fab-container-color: lightgray;
    }

    .filters {
        margin-bottom: 15px;
        display: flex;
        align-items: flex-start; 

        .country-filter {
            width: 15%
        }
    }

}

